.main-container{
    height: 100vh;
    width: 100%;
    background-color: rgb(195, 195, 212);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}