


.main-container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: full;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(248, 248, 248);
    
    



    

    .main-content{
        color: rgb(0, 20, 62);
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 4rem 6rem 0rem 6rem;
        background-color:rgba(0, 255, 255, 0);
        height: auto;
        flex-direction: column;

        h2{
            margin-bottom: 4rem;
            justify-self:left;
            width: 100%;
            padding-left: 30px;

        }
    

        .grid-{
            color: rgb(0, 20, 62);
            display: grid;
            grid-auto-rows: 200px;
            grid-template-columns: repeat(5, 200px);
            grid-auto-columns: 1fr;
            grid-gap: 20px;
            width: 1100px;
            height: auto;
            margin-bottom: 3rem;

            .grid-item {
                display: flex;
                justify-content: center;
                align-items: center;
                border: solid 2px rgb(181, 181, 181);
                border-radius: 10px;
                transition: ease-in .10s;
            }

            .grid-item:hover{
                background-color: #b3b3b3;
                scale: 1.03;
            }

            .grid-item-1{
                grid-row-start: 1;
                grid-row-end: 3;
                grid-column-start: 1;
                grid-column-end: 3;
            }

            .grid-item-2{
                grid-column-start: 3;
                grid-column-end: 4;
                grid-row-start: 1;
                grid-row-end: 3;
            }

            .grid-item-3{
                grid-column-start: 4;
                grid-column-end: 6;
            }

            .grid-item-4{
                grid-row-start: 2;
                grid-row-end: 4;
            }

            .grid-item-7{
                grid-column-start: 2;
                grid-column-end: 4;
                grid-row-start: 3;
                grid-row-end: 5;
            }

            .grid-item-9{
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row-start: 4;
                grid-row-end: 6;

            }

            .grid-item-13{
                grid-row-start: 5;
                grid-row-end: 6;
                grid-column-start: 3;
                grid-column-end: 5;
            }
        }
    }
}






