.footer-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(37, 37, 37);
    color: white;
    height: 500px;
    bottom: 0;
    width:100%;
    // margin: 0;
    // padding: 0;
    // width: 100%;


}