.maincontainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: full;
    background-image: linear-gradient(90deg, rgba(26,28,28,0.804359243697479) 11%, rgba(163,163,163,0) 31%), url('../src/gabi.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;

    
        
    

    .header {
        background-color: #1e742a;
        height: 95px;
        color: white;
        font-weight: bold;
        font-size: 50px;
        opacity: .4;

        button {
            position: relative;
            background-color: #1e742a;
            color: white;
            left:auto;
            right:0px;
        }
    }


    .main-content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100%;
    
        .form-container {
            height: 400px;
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            
        }

        .front-text {
            color: rgb(0, 0, 0);
            font-weight: bold;
            flex: 1;
            display: flex;
                    
            
            
            h1 {
                font-weight: bold;
                top: 0px;
            }
        }
    }
    


}
.form {
    height: 100%;
    width: 50%;
    padding: 3em 1em;
    background-color: #07200bb4; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 20px;
    align-items: center;

    label {
        color: white;
    }

    input {
        width: 65%;
        height: 3em;
        border-radius: 5px;

        & .submit{
            width: 100em;
        }
    }

    .submit{
        width: 5em;
    }
        
}

